data/*
!data/bccwj/
data/bccwj/*
!data/bccwj/bccwj.example
!data/csj/
data/csj/*
!data/csj/csj.example
!data/csj/csj.eval1.example
!data/bpe/
data/bpe/*
!data/bpe/vocab.special.asr
!data/bpe/vocab.special.bert
!data/bpe/bpe2k.bpe
!data/bpe/bpe2k.vocab
log/
checkpoints/
__pycache__/
nohup.out
