[frontend]
lmfb_dim = 40
num_framestack = 3
specaug = 1
max_mask_freq = 15
max_mask_time = 100

[model]
hidden_size = 320
num_layers = 5

[data]
train_script = ./data/bpe2k/script.aps.longer.id.asr.train.sorted
valid_script = ./data/bpe2k/script.aps.longer.id.asr.valid
eval_script = /n/rd35/futami/data/eval/script.official.eval1

[vocab]
vocab_path = ./data/bpe2k/subword.id.asr
vocab_size = 7519
eos_id = 1
sos_id = 2

[log]
log_dir = log/
log_step = 100
log_path = bpe2k/bert_c256/train.bert.c256.w3.v2.log

[save]
save_dir = checkpoints/
save_step = 1
save_prefix = bpe2k/bert_c256/bert.c256.w3.v2

[train]
num_epochs = 40
batch_size = 25
decay_start_epoch = 20
decay_rate = 0.8
ls_type = uniform
ls_prob = 0.9
ss_prob = 0

[test]
beam_width = 5
max_seq_len = 200

[distill]
pickle_path = ./teacher/teacher.bert.c256.k8.temp3.0.all
distill_weight = 0.3
distill_grad = 0
causal = 0

[lm]
lm_fusion = 0
