[frontend]
lmfb_dim = 40
num_framestack = 3
specaug = 1
max_mask_freq = 15
max_mask_time = 100

[model]
hidden_size = 320
num_layers = 5

[data]
train_script = ../data/csj/csj.aps.pathaid.asr.train
eval_script = ../data/csj/csj.test

[vocab]
vocab_path = ../data/bpe/vocab.asr
vocab_size = 7519
eos_id = 1
sos_id = 2

[log]
log_path = log/train.distill.bert.full.log
log_step = 100

[save]
save_prefix = checkpoints/distill.bert.full
save_step = 1

[train]
num_epochs = 40
batch_size = 25
decay_start_epoch = 20
decay_rate = 0.8
ls_prob = 0.9

[test]
beam_width = 5
max_seq_len = 200

[distill]
distill_weight = 0.3
soft_label_path = ../data/soft-label/bert-full.labels
